**/node_modules/
**/_logs
**/_workdir
**/logs
**/workdir
**/_unused
**/__unused
**/playwright-report/
**/playwright/.cache/
**/*.log
**/*.env
**/.history
**/.DS_Store
**/dist/
**/.orig
**/.vscode
**/.tmp
**/.idea
**/.tmp_env
**/.lcov

